## MLPP HW1 - Diagnostic - Part 2

### Data Augmentation using ACS API

Written explanations accompany summary tables throughout this notebook.

In [1]:
import warnings
warnings.simplefilter('ignore')

%run helper.py
%matplotlib inline

To limit API calls, I limited the datasets to the last three months. I wrote a handful of helper functions to append a FIPS code to a row in the data based on latitude and longitude and to append a census tract's income, family size, health care coverage, and unemployment rate to the dataframe. Then I saved the augmented data to a pickle file.

In [2]:
#buildings = three_months('vacant_buildings_17.pkl', 'DATE SERVICE REQUEST WAS RECEIVED')
#lights = three_months('alley_lights_17.pkl')

#buildings = scrape_fips_blocks(buildings)
#lights = scrape_fips_blocks(lights)

#buildings = scrape_acs(buildings)
#lights = srapce_acs(lights)

buildings = pd.read_pickle('buildings_acs.pkl')
lights = pd.read_pickle('lights_acs.pkl')

# drop 0 values
buildings = drop_if(buildings, col_list=['Ward', 'ZIP CODE', 'Police District', 'Community Area'])
lights = drop_if(lights)

I obtained the means for the demographic data and plot the distirbutions at the zip code level. Originally, I thought to aggregate at the community area level, but there are actually 57 areas while there are 45 zip codes.

### Top and bottom incomes by block for building requests
Block 381500 has the lowest income while block 280100 has the highest income. 

|Block Number|Number of Requests|Average Income (thousands)|
|:--------:|:---:|:------:|
|730600 |4| 1262|
|691100 |4| 1164|
|251900 |4| 1745|
|190300 |3| 1764|
|431400 |3| 3241|

The highest number of requests for a block was 4, and all of these blocks have very low average incomes.

In [3]:
build_inc = summary(buildings, 'avg_monthly_income', 'FIPS_BLOCK_NUMBER')
build_inc.head()

                    mean
FIPS_BLOCK_NUMBER
170313815001006     88.0
170313515001000    176.0
170318416001016    243.0
170312229001016    280.0
170316110001005    291.0

In [4]:
build_inc.tail()

                     mean
FIPS_BLOCK_NUMBER
170318411004010    2699.0
170310305004014    2871.0
170311502003023    3054.0
170314314002006    3241.0
170312801002011    4230.0

In [5]:
def get_demo_by_block(df, group_var, demo):
    top_blocks = list(df[group_var].value_counts().head().index)
    print(df[group_var].value_counts().head())
    for block in top_blocks:
        print(df[df[group_var].str.contains(block, case=False)][demo])

In [6]:
get_demo_by_block(buildings, 'FIPS_BLOCK_NUMBER', 'avg_monthly_income')

170316911001005    4
170317306002055    4
170312519002010    4
170318342003017    3
170314314002006    3
Name: FIPS_BLOCK_NUMBER, dtype: int64
59862    1164
59879    1164
59885    1164
59894    1164
Name: avg_monthly_income, dtype: int64
60046    1262
60056    1262
60896    1262
61009    1262
Name: avg_monthly_income, dtype: int64
59954    1745
59955    1745
59956    1745
60545    1745
Name: avg_monthly_income, dtype: int64
60614    1874
60615    1874
60628    1874
Name: avg_monthly_income, dtype: int64
59855    3241
60634    3241
61307    3241
Name: avg_monthly_income, dtype: int64

### Top and bottom unemployment rate by block for building requests
Block 030900 has the lowest unemployment rate while block 680500 has the highest unemployment rate. 

|Block Number|Number of Requests|Unemployment Rate (%)|
|:--------:|:---:|:------:|
|730600 |4| 9.6|
|691100 |4| 8.7|
|251900 |4| 18.7|
|190300 |3| 11.7|
|431400 |3| 13.1|

When grouping unemployment rates by the blocks with the most requests, they all have farily high unemployment rates, but not as high as the blocks with the largest unemployed population.

In [7]:
build_unemployed = summary(buildings, 'unemployment_rate', 'FIPS_BLOCK_NUMBER')
build_unemployed.head()

                   mean
FIPS_BLOCK_NUMBER
170310309002010     2.1
170310305004014     2.2
170312801002011     2.7
170313802002003     2.8
170311403012001     2.8

In [8]:
build_unemployed.tail()

                   mean
FIPS_BLOCK_NUMBER
170316119001003    24.6
170316119001006    24.6
170316805002008    28.7
170316805002014    28.7
170316805002027    28.7

In [9]:
get_demo_by_block(buildings, 'FIPS_BLOCK_NUMBER', 'unemployment_rate')

170316911001005    4
170317306002055    4
170312519002010    4
170318342003017    3
170314314002006    3
Name: FIPS_BLOCK_NUMBER, dtype: int64
59862    9.6
59879    9.6
59885    9.6
59894    9.6
Name: unemployment_rate, dtype: float64
60046    8.7
60056    8.7
60896    8.7
61009    8.7
Name: unemployment_rate, dtype: float64
59954    18.7
59955    18.7
59956    18.7
60545    18.7
Name: unemployment_rate, dtype: float64
60614    13.1
60615    13.1
60628    13.1
Name: unemployment_rate, dtype: float64
59855    11.7
60634    11.7
61307    11.7
Name: unemployment_rate, dtype: float64

### Top and bottom incomes by block for alley light requests
Block 381500 has the lowest income while block 280100 has the highest income. 

|Block Number|Number of Requests|Average Income (thousands)|
|:--------:|:---:|:------:|
|710800 |37| 1845|
|711200 |36| 1912|
|640300 |31| 2280|
|171000 |27| 2690|
|530300 |24| 1445|

The highest number of requests for a block was 37, and all of these blocks have very low average incomes.

In [10]:
lights_inc = summary(lights, 'avg_monthly_income', 'FIPS_BLOCK_NUMBER')
lights_inc.head()

                    mean
FIPS_BLOCK_NUMBER
170319801001005      0.0
170313815001003     88.0
170318416001008    243.0
170318416001013    243.0
170318416001017    243.0

In [11]:
lights_inc.tail()

                      mean
FIPS_BLOCK_NUMBER
170310818002029     5330.0
170310818001013     5330.0
170313301001007    10143.0
170313301004049    10143.0
170313301002015    10143.0

In [12]:
get_demo_by_block(lights, 'FIPS_BLOCK_NUMBER', 'avg_monthly_income')

170317108005014    37
170317112003001    36
170316403005013    31
170311710005027    27
170315303004014    24
Name: FIPS_BLOCK_NUMBER, dtype: int64
110295    1845
116970    1845
180966    1845
185429    1845
186056    1845
186057    1845
186058    1845
186059    1845
186060    1845
186061    1845
186062    1845
186063    1845
186064    1845
186065    1845
186066    1845
186067    1845
186068    1845
186069    1845
186070    1845
186071    1845
186072    1845
186073    1845
186074    1845
186075    1845
186076    1845
186077    1845
186078    1845
186079    1845
186080    1845
186081    1845
186082    1845
186083    1845
190689    1845
190970    1845
191059    1845
191153    1845
191243    1845
Name: avg_monthly_income, dtype: int64
187308    1912
187310    1912
187311    1912
187314    1912
187315    1912
187317    1912
187319    1912
187321    1912
187323    1912
187324    1912
187328    1912
187329    1912
187330    1912
187331    1912
187332    1912
187333    1912
187334    1912
187335    1912
187338    1912
187339    1912
187341    1912
187342    1912
187344    1912
187345    1912
187347    1912
187348    1912
187349    1912
187350    1912
187351    1912
187352    1912
187353    1912
187354    1912
187355    1912
187356    1912
187359    1912
187361    1912
Name: avg_monthly_income, dtype: int64
181294    2280
181567    2280
181638    2280
181743    2280
181746    2280
182231    2280
182232    2280
182233    2280
182234    2280
182235    2280
182237    2280
182238    2280
182239    2280
182240    2280
182241    2280
182242    2280
182250    2280
182276    2280
182569    2280
182574    2280
182803    2280
183690    2280
183692    2280
183697    2280
184512    2280
185519    2280
186047    2280
191706    2280
191900    2280
192104    2280
192318    2280
Name: avg_monthly_income, dtype: int64
126157    2690
161735    2690
181997    2690
182425    2690
182428    2690
182431    2690
182836    2690
182876    2690
182879    2690
189339    2690
189340    2690
189341    2690
189342    2690
189343    2690
189344    2690
189345    2690
189346    2690
189347    2690
189348    2690
189349    2690
189350    2690
189351    2690
189352    2690
191009    2690
191077    2690
191172    2690
191398    2690
Name: avg_monthly_income, dtype: int64
182077    1445
182304    1445
182307    1445
182575    1445
184401    1445
184635    1445
184640    1445
184656    1445
184664    1445
184775    1445
184777    1445
184778    1445
184780    1445
185893    1445
191288    1445
191364    1445
191438    1445
191504    1445
191535    1445
191567    1445
192342    1445
192351    1445
192370    1445
192782    1445
Name: avg_monthly_income, dtype: int64

### Top and bottom unemployment rate by block for alley light requests
Block 030900 has the lowest unemployment rate while block 680500 has the highest unemployment rate. 

|Block Number|Number of Requests|Unemployment Rate (%)|
|:--------:|:---:|:------:|
|710800 |37| 6.9|
|711200 |36| 9.2|
|640300 |31| 6.0|
|171000 |27| 5.1|
|530300 |24| 15.8|

When grouping unemployment rates by the blocks with the most requests, they all have farily high unemployment rates, but not as high as the blocks with the largest unemployed population.

In [13]:
lights_unemployed = summary(lights, 'unemployment_rate', 'FIPS_BLOCK_NUMBER')
lights_unemployed.head()

                   mean
FIPS_BLOCK_NUMBER
170314106001007     0.0
170314106002003     0.0
170314106002006     0.0
170314106001000     0.0
170318435001017     0.5

In [14]:
lights_unemployed.tail()

                   mean
FIPS_BLOCK_NUMBER
170316805002016    28.7
170316805002008    28.7
170316805002010    28.7
170316712001006    30.4
170319801001005     NaN

In [15]:
get_demo_by_block(lights, 'FIPS_BLOCK_NUMBER', 'unemployment_rate')

170317108005014    37
170317112003001    36
170316403005013    31
170311710005027    27
170315303004014    24
Name: FIPS_BLOCK_NUMBER, dtype: int64
110295    6.9
116970    6.9
180966    6.9
185429    6.9
186056    6.9
186057    6.9
186058    6.9
186059    6.9
186060    6.9
186061    6.9
186062    6.9
186063    6.9
186064    6.9
186065    6.9
186066    6.9
186067    6.9
186068    6.9
186069    6.9
186070    6.9
186071    6.9
186072    6.9
186073    6.9
186074    6.9
186075    6.9
186076    6.9
186077    6.9
186078    6.9
186079    6.9
186080    6.9
186081    6.9
186082    6.9
186083    6.9
190689    6.9
190970    6.9
191059    6.9
191153    6.9
191243    6.9
Name: unemployment_rate, dtype: float64
187308    9.2
187310    9.2
187311    9.2
187314    9.2
187315    9.2
187317    9.2
187319    9.2
187321    9.2
187323    9.2
187324    9.2
187328    9.2
187329    9.2
187330    9.2
187331    9.2
187332    9.2
187333    9.2
187334    9.2
187335    9.2
187338    9.2
187339    9.2
187341    9.2
187342    9.2
187344    9.2
187345    9.2
187347    9.2
187348    9.2
187349    9.2
187350    9.2
187351    9.2
187352    9.2
187353    9.2
187354    9.2
187355    9.2
187356    9.2
187359    9.2
187361    9.2
Name: unemployment_rate, dtype: float64
181294    6.0
181567    6.0
181638    6.0
181743    6.0
181746    6.0
182231    6.0
182232    6.0
182233    6.0
182234    6.0
182235    6.0
182237    6.0
182238    6.0
182239    6.0
182240    6.0
182241    6.0
182242    6.0
182250    6.0
182276    6.0
182569    6.0
182574    6.0
182803    6.0
183690    6.0
183692    6.0
183697    6.0
184512    6.0
185519    6.0
186047    6.0
191706    6.0
191900    6.0
192104    6.0
192318    6.0
Name: unemployment_rate, dtype: float64
126157    5.1
161735    5.1
181997    5.1
182425    5.1
182428    5.1
182431    5.1
182836    5.1
182876    5.1
182879    5.1
189339    5.1
189340    5.1
189341    5.1
189342    5.1
189343    5.1
189344    5.1
189345    5.1
189346    5.1
189347    5.1
189348    5.1
189349    5.1
189350    5.1
189351    5.1
189352    5.1
191009    5.1
191077    5.1
191172    5.1
191398    5.1
Name: unemployment_rate, dtype: float64
182077    15.8
182304    15.8
182307    15.8
182575    15.8
184401    15.8
184635    15.8
184640    15.8
184656    15.8
184664    15.8
184775    15.8
184777    15.8
184778    15.8
184780    15.8
185893    15.8
191288    15.8
191364    15.8
191438    15.8
191504    15.8
191535    15.8
191567    15.8
192342    15.8
192351    15.8
192370    15.8
192782    15.8
Name: unemployment_rate, dtype: float64

This dataset only contains demogrpahic information for requests that were placed in the last 3 months of 2017. As such, we do not see any meaningful changes in the demographic trends over time. Additionally, blocks that get more alley light out requests seem to have lower unemployment rates than blocks that get many vacant building requests. This seems to make sense, since blocks with many abandoned buildings would likely have fewer residents who are most likely low-income. Therefore, their unemployment rates would be higher and their average income would be lower.